{{> head}}
{{> navbar}}

<div class="container mt-5 py-4">
    <div class="row my-5">
        <div class='dropdown'>
          <a class='dropdown-toggle btn btn-danger py-2 px-3' href='#' id='dropdown' role='button' data-bs-toggle='dropdown' aria-expanded='false'>
            Kabupaten
          </a>
          <ul class='dropdown-menu' aria-labelledby='dropdown'>
            <li><a class='dropdown-item' href='/'>Provinsi</a></li>
            <li><a class='dropdown-item' href='/kabupaten'>Kabupaten</a></li>
          </ul>
        </div>

    </div>
    <div class="row my-5 justify-content-center">
            {{#each dataKab}}
        <div class="col-md-3 m-2">
            <div class="card p-3" >
                <img style="max-height: 250px;" src="{{this.photo}}" class="card-img-top img-fluid" alt="...">

                <div class="card-body text-center">
                    <h5 class="card-title">{{this.nama}}</h5>
                    <p class="card-text text-muted">{{this.diresmikan}}</p>
                    <a href="/detail/kabupaten/{{this.id}}" class="btn btn-danger" style="width: 100%;">Detail</a>
                </div>
            </div>
        </div>
            {{/each}}
    </div>
</div>

{{> closetag}}