<nav id='navbar' class='navbar navbar-expand-md navbar-dark bg-secondary shadow-sm fixed-top'>
  <div class='container'>
    <a href='/' class='navbar-brand'>Provinsi dan Kabupaten</a>
    <button class='navbar-toggler text-danger' type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav justify-content-end flex-grow-1'>
        <li class='nav-item mx-3'>
          <a class='nav-link btn btn-danger text-white' href='/provinsi/add'>Add Provinsi</a>
        </li>
        <li class='nav-item mx-3'>
          <a class='nav-link btn btn-danger text-white' href='/kabupaten/add'>Add Kabupaten</a>
        </li>
      </ul>
    </div>
  </div>
</nav>